body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin: auto;
    /* width: 100vw; */
}

header {
    border-bottom: 10px solid black;
    background-color: black;
}

header .container {
    justify-content: space-between;
    width: 80%;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(255, 145, 0);
    opacity: 0.7;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* BANNER */

.banner {
    height: fit-content;
    padding: 40px 0;
    color: white;
    background-image: url("/assets/6c recortada.png");
    background-size: cover;
  }
  
.banner .container {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

/* CONTEUDO */


.conteudo .container{
    padding: 0 100px;
    flex-direction: column;
    border-bottom: 5px solid black;
    background-color: #D9D9D9
}

.conteudo .opala69 {
    width: 450px;
    height: 250px;
    
}
.conteudo .parte1, .parte2, .parte3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.parte1 .parte2{
    gap: 40px;
}
.conteudo .parte1 h4{
    width: 125px;
    height: 45px;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}

.conteudo .parte1 p{
    width: 465px;
    height: 300px;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.conteudo .parte2 .opalacoupe {
    width: 450px;
    height: 300px;
}

.conteudo .parte2 p {
    width: 465px;
    height: 300px;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.conteudo2 .container{
    padding: 0 100px;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.conteudo2 h4{
    width: 427px;
    height: 48px;
    left: 901px;
    top: 1692px;

    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}
.conteudo2 .parte3 {
    gap: 200px;
}

/* FOOTER */


